<h3>
  Hi {{ fullName }},
</h3>
<p>
  I hope you’re well. Please see attached invoice #{{invoiceNumber}} for {{clientCompany}}, due on {{invoiceDate}}
  .
</p>
<p>
  Don’t hesitate to reach out if you have any questions {{senderEmail}}.
</p>

<h4>
  Best regards,<br><br>{{senderOrganization}}
</h4>